:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(143, 41%, 54%);
}
body {
    /* background-color: rgba(85, 83, 83, 0.336); */
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
div > span {
    display: none;
    color: var(--clr-neutral-100);
}
.card {
    position: relative;
    background-color: var(--clr-neutral-900);
    border-radius: .8em;
    margin-bottom: 1em;
    text-align: center;
    width: 10em;
    height: 20em;
    overflow: hidden;
}
.card-content {
    
}
.card-h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--clr-neutral-100);
    width: 6.5em;
}
.card-para {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-accent-400);
    border: none;
    border-radius: 6em;
    width: 8em;
    height: 8em;
}
.card-link:link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10em;
    height: 8vh;
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: var(--clr-accent-400);
    line-height: 2.5;
}