body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: auto;
}
p {
    position: relative;
}
.para::before {
    content: open-quote;
}
.para::after {
    content: close-quote;
}
.p02 {
    counter-increment: mycount 1;
}

.p02::before {
    content: counter(mycount);
    background: cadetblue;
    color: white;
    position: absolute;
    top: .1em;
    left: -1.5em;
    border-radius: 50%;
    padding: .2vw 1vw;
}
.container {
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    grid-auto-flow: row;
    border: 1px solid black;
    border-radius: .5em;
}
.child {
    margin: 4rem;
    padding: ;
}
